* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate > input {
    position: absolute;
    top: -9999px;
}

.rate > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
}

.rate label:before {
    content: url('img/star-empty.svg');
}

.rate > label:hover,
.rate > label:hover ~ label {
    content: url('img/star-empty.svg');
}

.rate > label:hover ~ label {
    content: url('img/star.svg');
}